.footer {
    background-color: #B1A6A4;
    color: black;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    p {
      color: #fff;
    }
  }